# Maven
target/

# Eclipse
.project
.classpath
.settings/

# Compiled Java files
*.class

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp